include:
  - project: SIBSGAR/DataRegateNum/common-gitlab-templates
    ref: main
    file: product-skeleton.gitlab-ci.yml
  - .gitlab-templates/analyze.gitlab-ci.yml
  - .gitlab-templates/build.gitlab-ci.yml
  - .gitlab-templates/test.gitlab-ci.yml
  - .gitlab-templates/deploy.gitlab-ci.yml
  - .gitlab-templates/integ-tests.gitlab-ci.yml

variables:
  PYTHON_IMAGE: ghcr.io/astral-sh/uv:0.8.17-python3.13-trixie-slim
  # XXX: Important to reference internal variables into custom ones here
  # to support variable passing to downward pipeline
  _TAG_VER: $CI_COMMIT_TAG
  _SNAP_VER: ${CI_COMMIT_SHORT_SHA}-snapshot
  DO_DEPLOY_tags: "data-transform"
  # XXX shadowing template variables as it is unused as user input in pipeline
  DO_ANALYZE: "✅"
  DO_TEST: "❌"
  DO_DEPLOY: "❌"  # XXX: Pas utilisé directement mais passé aux sous taches
  _ENABLE_DEPLOY_FOR_INTEG: "❌"
  _ENABLE_DEPLOY_FOR_PP_AND_P: "❌"
  DO_DOCKERIZE: "❌"
  DO_INTEG_TESTS: "❌"
  DO_LOAD_TESTS: "❌"


workflow:
  rules:
    # Cas d'un tag (release)
    - if: "$CI_COMMIT_TAG"
      variables:
        DO_ANALYZE: "✅"
        DO_TEST: "✅"
        DO_DOCKERIZE: "✅"
        _ENABLE_DEPLOY_FOR_INTEG: "✅"
        _ENABLE_DEPLOY_FOR_PP_AND_P: "⚙️"
        DO_INTEG_TESTS: "✅"
        DATA_TRANSFORM_VER: $_TAG_VER
        DO_DEPLOY_extra_vars: DATA_TRANSFORM_VER=$DATA_TRANSFORM_VER
        DO_UPDATE_DATA_TRANSFORM_VER: "$DATA_TRANSFORM_VER"
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        DATA_TRANSFORM_VER: "$_SNAP_VER"
        DO_DEPLOY_extra_vars: 'DATA_TRANSFORM_VER="$DATA_TRANSFORM_VER"'
        DO_ANALYZE: "✅"
        DO_TEST: "✅"
        DO_DOCKERIZE: "⚙️"
        _ENABLE_DEPLOY_FOR_INTEG: "✅"
        _ENABLE_DEPLOY_FOR_PP_AND_P: "❌"
        DO_INTEG_TESTS: "⚙️"
    - when: never
