.envrc
.venv
.coverage
.vscode
/.idea
**/__pycache__
apis/src/apis/config/config.yml
apis/src/apis/config/*.schema.json
apis/tests/config.yml
apis/tests/test.db
app/config/config.yml
app/migrations/data/ref_*.csv
app/config/oidc.yml
app/config/beat_config*
!app/config/beat_config_template.py
app/migrations.old/data/ref_*.csv

/tests/database.db
/tests/tasks/database.db
/test.py
/tests/settings.db
/tests/meta_audit.db
/tests/*.csv
/tests/.coverage

.tool-versions

.mypy_cache
.pytest_cache
.ruff_cache

*.egg-info/
app/requirements.txt
app/build/
apis/build/
grist-plugins/build
services/build
services/dist
models/build
gristcli/build

.import_linter_cache

tests_e2e/assets/*
tests_e2e/tests.log
tests_e2e/tests.xml
tests_e2e/tests.json
tests_e2e/tests.html
tests_e2e/resultats_tests.html
tests_e2e/resultats_tests.json
tests_e2e/resultats_tests.xml