<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Vers Superset</title>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        const postUrl = "{{ actions }}";  // injecte l'URL côté Jinja
    </script>
    <script type="module" src="/static/js/init-referentiels.js"></script>

</head>

<body data-table-name="{{ tableName }}">
    <h1>Initialiser la synchro</h1>

    <div class="flash">
    </div>

    <form action="{{actions}}" method="post" id="syncForm">
        <button type="submit" id="submitBtn">Initialiser</button>
    </form>
    
</body>
</html>