{% extends "base.html" %}

{% block title %}Vers Superset{% endblock %}

{% block extra_head %}
<script type="module" src="{{ jsPath }}"></script>
{% endblock %}
{% block content %}
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-link">
                    <div class="fr-header__brand-top">
                        <div class="header__logo">
                            <img src="static/img/logo.svg">
                        </div>
                        <div class="fr-header__service">
                            <p class="fr-header__service-title">
                                Grist DataEtat vers Superset
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<main class="fr-container fr-my-4w">
    <!-- Feedback global -->
    <div id="feedback" class="fr-alert fr-hidden" role="alert">
    </div>

    <div id="loading-plugins">
        <p class="fr-badge">Chargement du plugins ... </p>
        <div class="fr-alert fr-alert--info fr-mb-3w" role="status">
            <p class="fr-alert__title">Besoin d'aide&nbsp;?</p>
            <p>
            Si le plugin reste bloqué sur "Chargement du plugins ...", vérifiez que le plugin dispose bien de tous les accès nécessaires sur le document Grist.<br>
            Pour cela, cliquez sur le bouton de gestion des accès (en haut à droite, panneau de création) et assurez-vous que le plugin a les droits requis.
            </p>
        </div>
    </div>

    <div id="form-publish" class="fr-hidden">
        <div id="infos" class="fr-alert fr-alert--info fr-mb-3w" role="status">
            <p class="fr-alert__title">À propos de ce plugin</p>
            <p>
                Ce plugin permet de copier les données de la table courante vers le système
                <strong>DataEtat</strong>.<br>
                Ces données pourront ensuite être réutilisées et visualisées dans <strong>Superset</strong> pour des
                analyses avancées ou des tableaux de bord partagés.
            </p>
            <button title="Masquer le message"
                onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)" type="button"
                class="fr-btn--close fr-btn">Masquer le message</button>
        </div>

        <form id="columns-form" class="fr-my-2w" method="post">
            <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend">
                        Avez-vous une colonne avec des données uniques ?
                    </legend>
                    <div class="fr-fieldset__content">
                        <div class="fr-radio-group">
                            <input type="radio" id="has-index-yes" name="has-index" value="yes">
                            <label class="fr-label" for="has-index-yes">
                                Oui, je veux définir un index
                            </label>
                        </div>
                        <div class="fr-radio-group">
                            <input type="radio" id="has-index-no" name="has-index" value="no">
                            <label class="fr-label" for="has-index-no">
                                Non, pas d'index spécifique
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="fr-select-group fr-hidden" id="col-select-group">
                <label class="fr-label" for="column" id="column-select-label">
                    Sélectionner un index pour la table 
                </label>
                <select class="fr-select" id="column" name="column" aria-describedby="column-select-messages">
                    <option value="" disabled selected>-- Sélectionner une colonne --</option>
                    <!-- Options injectées en JS -->
                </select>

                <div class="fr-alert fr-alert--warning fr-mb-3w">
                    <p>La colonne choisie ne doit comporter que des valeurs uniques.</p>
                </div>
            </div>

            <div class="fr-my-3w fr-hidden" id="submit-container">
                <button type="submit" class="fr-btn" id="submit-btn">Envoyer les données</button>
            </div>
        </form>
    </div>

    <div id="loading" class="fr-hidden">
        <span class="fr-icon-refresh-line icon-spinning fr-icon" aria-hidden="true"></span>
        Publication en cours...
    </div>

    <div id="error-feedback" class="fr-hidden">
        <div id="error-message" class="fr-alert" role="alert">
        </div>
        <br/>
        <button type="button" class="fr-btn" id="back-btn">Revenir au formulaire</button>
    </div>

    <div id="success" class="fr-hidden">
        <span class="fr-icon-check-line fr-icon" aria-hidden="true"></span>
        Publication et liens à superset réalisée avec succès !<br>
        Vous pouvez vous rendre sur <a href="{{url_superset}}" target="_blank">Superset</a>.
    </div>
</main>

{% endblock %}