body {
      font-family: sans-serif;
      text-align: center;
      margin-top: 50px;
}

button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 8px;
}

button[disabled] {
      background-color: #777;
}

button:hover:not([disabled]) {
      background-color: #0056b3;
      cursor: pointer;
}
