.header__logo {
      flex: 0 0 auto;
      padding: 0.75rem;
}

.header__logo img{
      margin-right: 10px;
      width: 3.2rem;
}

button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 8px;
}

button[disabled] {
      background-color: #777;
}

button:hover:not([disabled]) {
      background-color: #0056b3;
      cursor: pointer;
}
