.header__logo {
      flex: 0 0 auto;
      padding: 0.75rem;
}

.header__logo img{
      margin-right: 10px;
      width: 3.2rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-spinning {
  animation: spin 1s linear infinite;
  display: inline-block;
}

button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 8px;
}

button[disabled] {
      background-color: #777;
}