[tool.importlinter]
root_packages = [
  "apis",
  "gristcli",
  "services",
  "models",
] 
include_external_packages = true

[[tool.importlinter.contracts]]
name = "L'architecture en couche est respectée"
type = "layers"
layers = [
  "apis",
  "gristcli",
  "services",
  "models",
]

####################
# Règles pour les modules en dessous de app

[[tool.importlinter.contracts]]
name = "gristcli ne tire pas module projet"
type = "forbidden"
source_modules = [
  "gristcli"
]
forbidden_modules = [
  "services", "models", "apis"
]


[[tool.importlinter.contracts]]
name = "les couches inférieures ne tirent pas de module infrastructure (fastapi, flask, etc...)"
type = "forbidden"
source_modules = [
  "services"
]
forbidden_modules = [
  "fastapi", "flask",
]