fastapi[standard] ~= 0.116.1
sqlalchemy ~= 2.0.43

authlib ~= 1.6.1

psycopg ~= 3.2
psycopg-binary ~= 3.2
psycopg[pool] ~= 3.2

requests ~= 2.32

python-keycloak ~= 5.8
api-entreprise >= 3.7.2

prometheus-fastapi-instrumentator ~= 7.1.0